version: '3.9'

services:
  backend:
    build: .
    container_name: crm_backend
    ports:
      - "5001:5000"
    depends_on:
      mysql:
        condition: service_healthy
    env_file:
      - .env
    restart: always

  mysql:
    image: mariadb:10.11
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD:  ${DB_PASS}
      MYSQL_DATABASE: ${DB_NAME}
    volumes:
      - mysql-data:/var/lib/mysql
      - ./crm_db:/docker-entrypoint-initdb.d
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -uroot -psqlroot1239 || exit 1"]
      interval: 5s
      timeout: 5s
      retries: 20

volumes:
  mysql-data: